:root {
  --base-text-color: #636d70;
  --section-bg-color: #eff7fb;
  --bright-text-color: #1995AD;
  --border-radius: 15%;
}

.container-body {
  background-color: #ffffff;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg-dark {
  background-color: var(--section-bg-color) !important;
}

.icons {
  color: var(--bright-text-color);
  font-size: 1.5rem;
  text-decoration: none;
}

.icons:hover {
  color: var(--bright-text-color);
  text-shadow: 1px 1px 30px var(--bright-text-color);
  text-decoration: none;
}

.badge {
  color: var(--bright-text-color) !important;
  box-shadow: 1px 1px 1px var(--bright-text-color);
}

.card {
  border: none;	
  color: var(--base-text-color);
  background-color: transparent;
}

.card-header {
  background-color: transparent !important;
  border:none;
}

.borderTopBottom {
  border-top-left-radius: var(--border-radius) var(--border-radius);
  border-top-right-radius: var(--border-radius) var(--border-radius);
  border-bottom-right-radius: var(--border-radius) var(--border-radius);
  border-bottom-left-radius: var(--border-radius) var(--border-radius);
  border-bottom: 1px solid var(--base-text-color) !important;
  border-top: 1px solid var(--base-text-color) !important;
}

.nav-link {
  color: var(--bright-text-color) !important;
}

.nav-link:hover {
  text-shadow: 1px 1px 20px var(--bright-text-color);
}