:root {
  --base-text-color: #D2C1B6;
  --section-bg-color: #456882;
  --bright-text-color: #D2C1B6;
  --border-radius: 15%;
}

body {
   height: 100%;
   overflow: auto;
   background-color:  #1B3C53;;
   color: var(--base-text-color) !important;
   font-family: "Times New Roman", Times, serif;
}

.portfolio-navbar {
    justify-content: center;
    background-color: transparent;
}

.nav-link.active {
    background-color: transparent !important;
    box-shadow: 0px 1px 5px var(--bright-text-color);
}

a {
    color: inherit !important;
    text-underline-offset: 0.25em !important;

}

.list-group-item {
    background-color: transparent;
    color: inherit;
    border: none;
}

.card {
  border: none;	
  color: var(--base-text-color);
  background-color: transparent;
  box-shadow: 0px 1px 5px var(--bright-text-color);
}

.box-shadow {
  box-shadow: 0px 1px 5px var(--bright-text-color);
}

.card-header {
  background-color: transparent !important;
  border:none;
}

.name {
  font-size: 10vw;
  color: var(--bright-text-color);
  padding-left: 1vw;
  padding-right: 1vw;
  opacity: 1;
  box-shadow: 0px 1px 5px var(--bright-text-color);
}

.icons {
  color: var(--bright-text-color);
  font-size: 1.5vw;
  text-decoration: none;
  box-shadow: 0px 1px 5px var(--bright-text-color);
}

.icons:hover {
  color: var(--bright-text-color);
  text-shadow: 1px 1px 30px var(--bright-text-color);
  text-decoration: none;
}

.scrollspy-section {
  position:relative; 
  height: 20%; 
  overflow: scroll;
}


/*
1B3C53
234C6A
456882
D2C1B6
*/