ul {
  padding-inline-start: 20px !important;
}

.projectTitle {
  color: var(--bright-text-color);
}

.btn-primary {
  border: none;
  background-color: var(--section-bg-color) !important;
  color: var(--base-text-color) !important;
}

.btn .btn-primary .collapsed {
  border: none;
}

.borderTopBottom.btn-primary:hover {
  box-shadow: 1px 1px 1px var(--bright-text-color);
}

.card-body {
  color: var(--base-text-color) !important;
  border-bottom-right-radius: var(--border-radius) var(--border-radius);
  border-bottom-left-radius: var(--border-radius) var(--border-radius);
  border-bottom: 1px solid var(--base-text-color) !important;
}