.durationSection {
  font-size: 0.9rem;
}

.card {  
  border: none;
}

.subSection {
  font-size: 0.8rem;
}

.resumeHeader {
  background-color: var(--section-bg-color);
}

.sectionHeader {
  color: var(--bright-text-color);
  text-align: center;
}

.sectionHeader .borderTopBottom {
  background-color: var(--section-bg-color);
  border:none !important;
}

.jobTitle, .companyName, .email, .degreeName {
  color: var(--bright-text-color);
}

.certificationTitle {
  color: var(--base-text-color);
}

.textMuted {
  color: var(--white-text-color) !important;
}

.progress {
  background-color: transparent !important;
  height: 1.5rem !important;
  border-radius: 5px;
  color: var(--bright-text-color) !important;
  box-shadow: 1px 1px 1px var(--base-text-color);
}

.progress-bar {
  padding-left: 10px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 1px 1px 1px var(--base-text-color);
  opacity: 1 !important;
  text-align: none;
  color: var(--white-text-color) !important;
  background-color: var(--section-bg-color) !important;
}

.externalLink {
  padding-left: 0;
  color: var(--base-text-color) !important;
  --bs-btn-padding-y: 0 !important;
}

.externalLink:hover {
  text-shadow: 1px 1px 1px var(--bright-text-color);
}